* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to right, #111, #222);
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-block__title {
  font-size: 2.4rem;
  margin: 0;
}

.title-block__subtitle {
  position: relative;
  top: -10px;
  left: 5px;
}

.coming-soon__text {
  font-size: 1.4rem;
}
