* {
  box-sizing: border-box;
}

:root {
  --site-highlight: crimson;
  --site-background: whitesmoke;
  --site-dark: #333;
}

body,
h1,
h2,
h3,
p,
div,
a,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--site-background);
  color: var(--site-dark);
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-1 {
  display: flex;
  align-items: center;
}

.highlight {
  color: var(--site-highlight);
}

.box {
  display: inline-block;
  padding: 2rem;
  transform: skew(-4deg);
  border: 3px solid crimson;
  margin-bottom: 2rem;
  background-color: crimson;
  color: white;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.site-header .container {
  padding-bottom: 1rem;
  border-bottom: 1px solid #bbb;
}

.site-header {
  padding: 2rem;

  &__logo {
    &__icon {
      font-size: 2.4rem;
    }

    &__sub {
      font-size: 1.2rem;
    }
  }

  &__links {
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-end;

    &__link {
      margin-left: 2rem;
      display: inline-block;
      transition: transform 0.3s ease;

      &.active {
        font-weight: 700;
      }

      &:hover {
        color: var(--site-highlight);
        transform: scale(1.2);
        text-shadow: 0 0 1px var(--site-highlight);
      }
    }
  }
}

main {
  padding: 0 2rem;
}

/* Home Page */

.home {
  height: 100%;
  &__text {
    margin-bottom: 4rem;
    &__greet {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    &__tag {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }

  &__avatar {
    & img {
      width: 100%;
    }
  }

  & p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}

.grid-it {
  display: grid;
  height: 100%;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
  .grid-it {
    grid-template-columns: 1fr;
  }

  .home__text,
  .home__avatar {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

i {
  font-size: 2.8rem;
  margin-left: 5px;
}

.home-btns {
  display: flex;
  margin-top: 2rem;
}

.link-btn {
  width: 100%;
}

.btn {
  width: 100%;
  background: radial-gradient(circle at 67% 0%, crimson, rgb(255, 8, 57));
  color: white;
  border: 3px solid crimson;
  padding: 1rem;
  border-radius: 100px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn--outline {
  background: whitesmoke;
  color: crimson;
}

.link-btn:first-of-type {
  margin-right: 1rem;
}

/* About Page */

.about {
  margin-top: 2rem;

  &__left {
    margin: 2rem 0;
    max-width: 700px;
  }

  &__right {
    max-width: 700px;
    margin-left: auto;
    text-align: right;

    & .box {
      transform: skew(4deg);
    }
  }

  & i {
    font-size: 1.6rem;
  }
}

/* Projects Page */

.projects {
  margin-top: 2rem;
}

/* Footer */

.site-footer {
  background-color: var(--site-background);
  color: var(--site-dark);
  border-top: 2px dashed var(--site-dark);
  padding: 1rem 0;
  text-align: center;

  & p {
    margin: 0.5rem 0;
  }

  &__icon {
    font-size: 1.3rem;
    margin: 0 0.3rem;
  }

  .heart {
    color: var(--site-highlight);
    transform: translateY(2px);
  }
}
